{% extends "base.html" %}

{% block content %}
<div class="row g-4">
    <!-- Ventana de carga -->
    <div class="col-md-6">
        {% include "partials/upload.html" %}
    </div>
    
    <!-- Ventana de previsualización -->
    <div class="col-md-6">
        {% include "partials/preview.html" %}
    </div>
</div>

<div class="row g-4 mt-3">
    <!-- Ventana de resultados de texto -->
    <div class="col-md-6">
        {% include "partials/text_result.html" %}
    </div>
    
    <!-- Ventana de caracteres segmentados -->
    <div class="col-md-6">
        {% include "partials/letters.html" %}
    </div>
</div>

<div class="row g-4 mt-3">
    <!-- Ventana de análisis -->
    <div class="col-md-6">
        {% include "partials/analysis.html" %}
    </div>
    
    <!-- Ventana de estadísticas -->
    <div class="col-md-6">
        {% include "partials/stats.html" %}
    </div>
</div>
{% endblock %}